@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    
}

.bild {
    height: 100vh;
    background: url("../images/IMG_0863.JPG") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
       display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.test {
    padding: 26px 0;
    background-color: #fafafa;
    color: #444;
 
   font-size: 20px;
    border-color: #fafafa;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: bold;
}

#fest {
    padding-bottom: 50px;
    color: #f50808;
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;
}

.form {
    color: #f50808;
    background-color: #444;
    position: center;
    
}